<form (submit)="onSubmit()">
  <input type="text" [(ngModel)]="name" name="name" placeholder="Name">
  <input type="email" [(ngModel)]="email" name="email" placeholder="Email">
  <input type="text" [(ngModel)]="phone" name="phone" placeholder="Phone">
  <input type="text" [(ngModel)]="work" name="work" placeholder="Work">
  <input type="password" [(ngModel)]="password" name="password" placeholder="Password">
  <input type="password" [(ngModel)]="cpassword" name="cpassword" placeholder="Confirm Password">
  <button type="submit">Register</button>
</form>
